.container__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2dcdc;
}

.search {
    padding: 0.3rem;
    margin-right: 0.5rem;
}

.btn {
    padding: 0.3rem;
}