/* .pokemon__header {
  background-color: #8484e9;
  color: white;
  text-align: center;
  height: 15rem;
}
.pokemon__header--header {
  padding: 2rem 0;
  font-size: 2.5rem;
}
.type-search-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.inp {
  padding: 0.5rem 0;
}

.submit {
  width: 6rem;
  padding: 0.5rem 0;
  background-color: blue;
  margin: auto;
  color: white;
  border: none;
  border-radius: 5px;
} */
